$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f8f5f0;
$gray-300: #dfd7ca;
$gray-400: #ced4da;
$gray-500: #98978b;
$gray-600: #8e8c84;
$gray-700: #495057;
$gray-800: #3e3f3a;
$gray-900: #212529;
$black: #000;
$blue: #325d88;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #f47c3c;
$yellow: #ffc107;
$green: #93c54b;
$teal: #20c997;
$cyan: #29abe0;
$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$body-color: $gray-800;
$dropdown-link-color: $gray-600;
$dropdown-link-hover-color: $dropdown-link-color;
$dropdown-link-hover-bg: $gray-200;
$navbar-dark-hover-color: $white;

$enable-shadows: true !important;
$enable-gradients: true !important;


$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.9;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base !default;
