@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

.thead-primary {
    background-color: $primary;
    color: $white;
}
.thead-warning {
    background-color: $warning;
    color: $white;
}
.thead-info {
    background-color: $info;
    color: $white;
}

.table-striped tbody tr:nth-of-type(2n + 1) {
    background-color: #f4f6f9;
}
.shadow {
    box-shadow: 0 0.5rem 1rem #b8d8d8 !important;
}
.form-control{
    border: 1px solid #b8d8d8;
}