@import "variables";
@import "mixing";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

@each $color, $value in $theme-colors {
    @include bg-variant(".thead-#{$color}", $value, true);
}

@each $color, $value in $theme-colors {
    @include text-emphasis-variant(".table-text-#{$color}", $value, true);
}
@if $enable-gradients {
    @each $color, $value in $theme-colors {
        @include bg-gradient-variant(".thead-gradient-#{$color}", $value, true);
    }
    @each $color, $value in $theme-colors {
        @include bg-gradient-flow-variant(".bg-gradient-right-#{$color}", $value, true, to right);
        @include bg-gradient-flow-variant(".bg-gradient-left-#{$color}", $value, true, to left);
    }
}

.thead-gradient-info tr:first-child {
    color: white;
    border-bottom: 0;
}

.table-text-white {
    color: var(--white);
}

.table-striped tbody tr:nth-of-type(2n + 1) {
    background-color: #f4f6f9;
}
.shadow {
    box-shadow: 0 0.5rem 1rem #b8d8d8 !important;
}
.form-control {
    border: 1px solid #b8d8d8;
}
.table a:hover {
    text-decoration: none;
}

.table .btn {
    padding: 0.1rem 0.7rem;
    font-size: 0.875rem;
    line-height: 0;
    border-radius: 0.2rem;
}
.table .action {
    width: 80px;
}
.table .index {
    width: 50px;
}
